*.pyc
*flymake.py
*flymake.pyc
director/cover
*~
#*#
#*
*#
.emacs.desktop
.emacs.desktop.lock
.tox
*.egg-info
.db
.settings_local
.project
coverage.xml
director/build
director/.project
director/.pydevproject
a.out
*.egg
dist
